@import './mixins';

html, body {
  font-family: 'EB Garamond', serif;
}

.columns {
  height: 100vh;
  margin: 0;
}

.triggers {
  width: 3.25rem;
  padding: 0;
}

.core {
  padding: 0 1rem;
  overflow: auto;
  @include border();
}
